<%- include("portals/header.ejs") %>
<%- include("portals/manu.ejs") %>





<div>
    <div class="d-flex justify-content-center">
        <div class="d-inline-block bg-danger mx-3 p-4 shadow rounded text-center col-3">
            <img style="height: 150px;" class="w-50 rounded-circle" src="assets\images\naiem\naiem.jpeg" alt="">
            <h3 class="text-light">MD Naiem Hosen</h3>
            <div style="text-align: left;" class="group-list">
                <a class="py-2 fs-5 d-inline-block text-decoration-none border-bottom w-100" href="#">Study</a>
                <a class="py-2 fs-5 d-inline-block text-decoration-none border-bottom w-100" href="#">Certificate</a>
                <a class="py-2 fs-5 d-inline-block text-decoration-none border-bottom w-100" href="#">Experience</a>
                <a class="py-2 fs-5 d-inline-block text-decoration-none border-bottom w-100" href="#">Dream</a>
                <a class="py-2 fs-5 d-inline-block text-decoration-none border-bottom w-100" href="#">Hobby</a>
                <a class="py-2 fs-5 d-inline-block text-decoration-none border-bottom w-100" href="#">Profesion</a>
                <a class="py-2 fs-5 d-inline-block text-decoration-none border-bottom w-100" href="#">Partnership</a>
                <a class="py-2 fs-5 d-inline-block text-decoration-none border-bottom w-100" href="/photos">Photo gelery</a>
            </div>
        </div>
        <div class="d-inline-block bg-danger mx-3 p-4 shadow rounded col-8">

            <!--------my study------->
            <div class="shadow rounded col-11 m-auto bg-dark p-4">
                <h3 class="text-light py-2 border-bottom">My study</h3>
                <p class="text-light py-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta omnis ea rerum, voluptate vero reiciendis totam et pariatur ab eos distinctio ullam repellendus excepturi nostrum beatae nisi quos aperiam reprehendercing elit. Dicta omnis ea rerum, voluptate vero reiciendis totam et pariatur ab eos distinctio ullam repellendus excepturi nostrum beatae nisi quos aperiam reprehendercing elit. Dicta omnis ea rerum, voluptate vero reiciendis totam et pariatur ab eos distinctio ullam repellendus excepturi nostrum beatae nisi quos aperiam reprehendercing elit. Dicta omnis ea rerum, voluptate vero reiciendis totam et pariatur ab eos distinctio ullam repellendus excepturi nostrum beatae nisi quos aperiam reprehendercing elit. Dicta omnis ea rerum, voluptate vero reiciendis totam et pariatur ab eos distinctio ullam repellendus excepturi nostrum beatae nisi quos aperiam reprehendercing elit. Dicta omnis ea rerum, voluptate vero reiciendis totam et pariatur ab eos distinctio ullam repellendus excepturi nostrum beatae nisi quos aperiam reprehendercing elit. Dicta omnis ea rerum, voluptate vero reiciendis totam et pariatur ab eos distinctio ullam repellendus excepturi nostrum beatae nisi quos aperiam reprehendercing elit. Dicta omnis ea rerum, voluptate vero reiciendis totam et pariatur ab eos distinctio ullam repellendus excepturi nostrum beatae nisi quos aperiam reprehenderit!</p>
            </div>

            <!--------certificate------->
            <div class="shadow rounded col-11 m-auto bg-dark p-4">
                <h3 class="text-light py-2 border-bottom">My Certificates</h3>
                <p class="text-light py-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta omnis ea rerum, voluptate vero reiciendis totam et pariatur ab eos distinctio ullam repellendus excepturi nostrum beatae nisi quos aperiam reprehendercing elit. Dicta omnis ea rerum, voluptate vero reiciendis totam et pariatur ab eos distinctio ullam repellendus excepturi nostrum beatae nisi quos aperiam reprehendercing elit. Dicta omnis ea rerum, voluptate vero reiciendis totam et pariatur ab eos distinctio ullam repellendus excepturi nostrum beatae nisi quos aperiam reprehendercing elit. Dicta omnis ea rerum, voluptate vero reiciendis totam et pariatur ab eos distinctio ullam repellendus excepturi nostrum beatae nisi quos aperiam reprehendercing elit. Dicta omnis ea rerum, voluptate vero reiciendis totam et pariatur ab eos distinctio ullam repellendus excepturi nostrum beatae nisi quos aperiam reprehendercing elit. Dicta omnis ea rerum, voluptate vero reiciendis totam et pariatur ab eos distinctio ullam repellendus excepturi nostrum beatae nisi quos aperiam reprehendercing elit. Dicta omnis ea rerum, voluptate vero reiciendis totam et pariatur ab eos distinctio ullam repellendus excepturi nostrum beatae nisi quos aperiam reprehendercing elit. Dicta omnis ea rerum, voluptate vero reiciendis totam et pariatur ab eos distinctio ullam repellendus excepturi nostrum beatae nisi quos aperiam reprehenderit!</p>
            </div>

            <!--------Experience------->
            <div class="shadow rounded col-11 m-auto bg-dark p-4">
                <h3 class="text-light py-2 border-bottom">My Experience</h3>
                <p class="text-light py-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta omnis ea rerum, voluptate vero reiciendis totam et pariatur ab eos distinctio ullam repellendus excepturi nostrum beatae nisi quos aperiam reprehendercing elit. Dicta omnis ea rerum, voluptate vero reiciendis totam et pariatur ab eos distinctio ullam repellendus excepturi nostrum beatae nisi quos aperiam reprehendercing elit. Dicta omnis ea rerum, voluptate vero reiciendis totam et pariatur ab eos distinctio ullam repellendus excepturi nostrum beatae nisi quos aperiam reprehendercing elit. Dicta omnis ea rerum, voluptate vero reiciendis totam et pariatur ab eos distinctio ullam repellendus excepturi nostrum beatae nisi quos aperiam reprehendercing elit. Dicta omnis ea rerum, voluptate vero reiciendis totam et pariatur ab eos distinctio ullam repellendus excepturi nostrum beatae nisi quos aperiam reprehendercing elit. Dicta omnis ea rerum, voluptate vero reiciendis totam et pariatur ab eos distinctio ullam repellendus excepturi nostrum beatae nisi quos aperiam reprehendercing elit. Dicta omnis ea rerum, voluptate vero reiciendis totam et pariatur ab eos distinctio ullam repellendus excepturi nostrum beatae nisi quos aperiam reprehendercing elit. Dicta omnis ea rerum, voluptate vero reiciendis totam et pariatur ab eos distinctio ullam repellendus excepturi nostrum beatae nisi quos aperiam reprehenderit!</p>
            </div>

            <!--------my Dream------->
            <div class="shadow rounded col-11 m-auto bg-dark p-4">
                <h3 class="text-light py-2 border-bottom">My Dreams</h3>
                <p class="text-light py-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta omnis ea rerum, voluptate vero reiciendis totam et pariatur ab eos distinctio ullam repellendus excepturi nostrum beatae nisi quos aperiam reprehendercing elit. Dicta omnis ea rerum, voluptate vero reiciendis totam et pariatur ab eos distinctio ullam repellendus excepturi nostrum beatae nisi quos aperiam reprehendercing elit. Dicta omnis ea rerum, voluptate vero reiciendis totam et pariatur ab eos distinctio ullam repellendus excepturi nostrum beatae nisi quos aperiam reprehendercing elit. Dicta omnis ea rerum, voluptate vero reiciendis totam et pariatur ab eos distinctio ullam repellendus excepturi nostrum beatae nisi quos aperiam reprehendercing elit. Dicta omnis ea rerum, voluptate vero reiciendis totam et pariatur ab eos distinctio ullam repellendus excepturi nostrum beatae nisi quos aperiam reprehendercing elit. Dicta omnis ea rerum, voluptate vero reiciendis totam et pariatur ab eos distinctio ullam repellendus excepturi nostrum beatae nisi quos aperiam reprehendercing elit. Dicta omnis ea rerum, voluptate vero reiciendis totam et pariatur ab eos distinctio ullam repellendus excepturi nostrum beatae nisi quos aperiam reprehendercing elit. Dicta omnis ea rerum, voluptate vero reiciendis totam et pariatur ab eos distinctio ullam repellendus excepturi nostrum beatae nisi quos aperiam reprehenderit!</p>
            </div>

            <!--------Hobby------->
            <div class="shadow rounded col-11 m-auto bg-dark p-4">
                <h3 class="text-light py-2 border-bottom">My Hobby</h3>
                <p class="text-light py-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta omnis ea rerum, voluptate vero reiciendis totam et pariatur ab eos distinctio ullam repellendus excepturi nostrum beatae nisi quos aperiam reprehendercing elit. Dicta omnis ea rerum, voluptate vero reiciendis totam et pariatur ab eos distinctio ullam repellendus excepturi nostrum beatae nisi quos aperiam reprehendercing elit. Dicta omnis ea rerum, voluptate vero reiciendis totam et pariatur ab eos distinctio ullam repellendus excepturi nostrum beatae nisi quos aperiam reprehendercing elit. Dicta omnis ea rerum, voluptate vero reiciendis totam et pariatur ab eos distinctio ullam repellendus excepturi nostrum beatae nisi quos aperiam reprehendercing elit. Dicta omnis ea rerum, voluptate vero reiciendis totam et pariatur ab eos distinctio ullam repellendus excepturi nostrum beatae nisi quos aperiam reprehendercing elit. Dicta omnis ea rerum, voluptate vero reiciendis totam et pariatur ab eos distinctio ullam repellendus excepturi nostrum beatae nisi quos aperiam reprehendercing elit. Dicta omnis ea rerum, voluptate vero reiciendis totam et pariatur ab eos distinctio ullam repellendus excepturi nostrum beatae nisi quos aperiam reprehendercing elit. Dicta omnis ea rerum, voluptate vero reiciendis totam et pariatur ab eos distinctio ullam repellendus excepturi nostrum beatae nisi quos aperiam reprehenderit!</p>
            </div>
            
            <!--------Profesion------->
            <div class="shadow rounded col-11 m-auto bg-dark p-4">
                <h3 class="text-light py-2 border-bottom">My Profesion</h3>
                <p class="text-light py-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta omnis ea rerum, voluptate vero reiciendis totam et pariatur ab eos distinctio ullam repellendus excepturi nostrum beatae nisi quos aperiam reprehendercing elit. Dicta omnis ea rerum, voluptate vero reiciendis totam et pariatur ab eos distinctio ullam repellendus excepturi nostrum beatae nisi quos aperiam reprehendercing elit. Dicta omnis ea rerum, voluptate vero reiciendis totam et pariatur ab eos distinctio ullam repellendus excepturi nostrum beatae nisi quos aperiam reprehendercing elit. Dicta omnis ea rerum, voluptate vero reiciendis totam et pariatur ab eos distinctio ullam repellendus excepturi nostrum beatae nisi quos aperiam reprehendercing elit. Dicta omnis ea rerum, voluptate vero reiciendis totam et pariatur ab eos distinctio ullam repellendus excepturi nostrum beatae nisi quos aperiam reprehendercing elit. Dicta omnis ea rerum, voluptate vero reiciendis totam et pariatur ab eos distinctio ullam repellendus excepturi nostrum beatae nisi quos aperiam reprehendercing elit. Dicta omnis ea rerum, voluptate vero reiciendis totam et pariatur ab eos distinctio ullam repellendus excepturi nostrum beatae nisi quos aperiam reprehendercing elit. Dicta omnis ea rerum, voluptate vero reiciendis totam et pariatur ab eos distinctio ullam repellendus excepturi nostrum beatae nisi quos aperiam reprehenderit!</p>
            </div>
            
            <!--------Partnership------->
            <div class="shadow rounded col-11 m-auto bg-dark p-4">
                <h3 class="text-light py-2 border-bottom">My Partnership</h3>
                <p class="text-light py-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta omnis ea rerum, voluptate vero reiciendis totam et pariatur ab eos distinctio ullam repellendus excepturi nostrum beatae nisi quos aperiam reprehendercing elit. Dicta omnis ea rerum, voluptate vero reiciendis totam et pariatur ab eos distinctio ullam repellendus excepturi nostrum beatae nisi quos aperiam reprehendercing elit. Dicta omnis ea rerum, voluptate vero reiciendis totam et pariatur ab eos distinctio ullam repellendus excepturi nostrum beatae nisi quos aperiam reprehendercing elit. Dicta omnis ea rerum, voluptate vero reiciendis totam et pariatur ab eos distinctio ullam repellendus excepturi nostrum beatae nisi quos aperiam reprehendercing elit. Dicta omnis ea rerum, voluptate vero reiciendis totam et pariatur ab eos distinctio ullam repellendus excepturi nostrum beatae nisi quos aperiam reprehendercing elit. Dicta omnis ea rerum, voluptate vero reiciendis totam et pariatur ab eos distinctio ullam repellendus excepturi nostrum beatae nisi quos aperiam reprehendercing elit. Dicta omnis ea rerum, voluptate vero reiciendis totam et pariatur ab eos distinctio ullam repellendus excepturi nostrum beatae nisi quos aperiam reprehendercing elit. Dicta omnis ea rerum, voluptate vero reiciendis totam et pariatur ab eos distinctio ullam repellendus excepturi nostrum beatae nisi quos aperiam reprehenderit!</p>
            </div>

        </div>
    </div>
</div>






<%- include("portals/footer.ejs") %>