<%- include("portals/header.ejs") %>
<%- include("portals/manu.ejs") %>






<div>
    <div class="col-11 m-auto text-center p-4 bg-danger">
        <h1 class="text-center p-4 text-light">My photo gelery</h1>
        <div class="col-2 m-2 d-inline-block">
            <img class="w-100 p-1" src="assets\images\naiem\naiem.jpeg" alt="">
        </div>
        <div class="col-2 m-2 d-inline-block">
            <img class="w-100 p-1" src="assets\images\naiem\naiem.jpeg" alt="">
        </div>
        <div class="col-2 m-2 d-inline-block">
            <img class="w-100 p-1" src="assets\images\naiem\naiem.jpeg" alt="">
        </div>
        <div class="col-2 m-2 d-inline-block">
            <img class="w-100 p-1" src="assets\images\naiem\naiem.jpeg" alt="">
        </div>
        <div class="col-2 m-2 d-inline-block">
            <img class="w-100 p-1" src="assets\images\naiem\naiem.jpeg" alt="">
        </div>
        <div class="col-2 m-2 d-inline-block">
            <img class="w-100 p-1" src="assets\images\naiem\naiem.jpeg" alt="">
        </div>
        <div class="col-2 m-2 d-inline-block">
            <img class="w-100 p-1" src="assets\images\naiem\naiem.jpeg" alt="">
        </div>
        <div class="col-2 m-2 d-inline-block">
            <img class="w-100 p-1" src="assets\images\naiem\naiem.jpeg" alt="">
        </div>
        <div class="col-2 m-2 d-inline-block">
            <img class="w-100 p-1" src="assets\images\naiem\naiem.jpeg" alt="">
        </div>
        <div class="col-2 m-2 d-inline-block">
            <img class="w-100 p-1" src="assets\images\naiem\naiem.jpeg" alt="">
        </div>
        <div class="col-2 m-2 d-inline-block">
            <img class="w-100 p-1" src="assets\images\naiem\naiem.jpeg" alt="">
        </div>
        <div class="col-2 m-2 d-inline-block">
            <img class="w-100 p-1" src="assets\images\naiem\naiem.jpeg" alt="">
        </div>
        <div class="col-2 m-2 d-inline-block">
            <img class="w-100 p-1" src="assets\images\naiem\naiem.jpeg" alt="">
        </div>
        <div class="col-2 m-2 d-inline-block">
            <img class="w-100 p-1" src="assets\images\naiem\naiem.jpeg" alt="">
        </div>
        <div class="col-2 m-2 d-inline-block">
            <img class="w-100 p-1" src="assets\images\naiem\naiem.jpeg" alt="">
        </div>
        <div class="col-2 m-2 d-inline-block">
            <img class="w-100 p-1" src="assets\images\naiem\naiem.jpeg" alt="">
        </div>
        <div class="col-2 m-2 d-inline-block">
            <img class="w-100 p-1" src="assets\images\naiem\naiem.jpeg" alt="">
        </div>
        <div class="col-2 m-2 d-inline-block">
            <img class="w-100 p-1" src="assets\images\naiem\naiem.jpeg" alt="">
        </div>
        <div class="col-2 m-2 d-inline-block">
            <img class="w-100 p-1" src="assets\images\naiem\naiem.jpeg" alt="">
        </div>
        <div class="col-2 m-2 d-inline-block">
            <img class="w-100 p-1" src="assets\images\naiem\naiem.jpeg" alt="">
        </div>

    </div>
</div>







<%- include("portals/footer.ejs") %>