<%- include("portals/header.ejs") %>
<%- include("portals/manu.ejs") %>




<div>
    <div class="">
        <h1 class="text-center text-light p-4">My portfolo</h1>
        <div class="text-center">
            <div>
                <div class="col-3 p-2 rounded m-4 d-inline-block shadow bg-danger">
                    <img class="w-100" src="assets\images\templates\tem-two.jpg" alt="">
                </div>
                <div class="col-3 p-2 rounded m-4 d-inline-block shadow bg-danger">
                    <img class="w-100" src="assets\images\templates\tem-two.jpg" alt="">
                </div>
                <div class="col-3 p-2 rounded m-4 d-inline-block shadow bg-danger">
                    <img class="w-100" src="assets\images\templates\tem-two.jpg" alt="">
                </div>
                <div class="col-3 p-2 rounded m-4 d-inline-block shadow bg-danger">
                    <img class="w-100" src="assets\images\templates\tem-two.jpg" alt="">
                </div>
                <div class="col-3 p-2 rounded m-4 d-inline-block shadow bg-danger">
                    <img class="w-100" src="assets\images\templates\tem-two.jpg" alt="">
                </div>
                <div class="col-3 p-2 rounded m-4 d-inline-block shadow bg-danger">
                    <img class="w-100" src="assets\images\templates\tem-two.jpg" alt="">
                </div>
                <div class="col-3 p-2 rounded m-4 d-inline-block shadow bg-danger">
                    <img class="w-100" src="assets\images\templates\tem-two.jpg" alt="">
                </div>
                <div class="col-3 p-2 rounded m-4 d-inline-block shadow bg-danger">
                    <img class="w-100" src="assets\images\templates\tem-two.jpg" alt="">
                </div>
                <div class="col-3 p-2 rounded m-4 d-inline-block shadow bg-danger">
                    <img class="w-100" src="assets\images\templates\tem-two.jpg" alt="">
                </div>
                <div class="col-3 p-2 rounded m-4 d-inline-block shadow bg-danger">
                    <img class="w-100" src="assets\images\templates\tem-two.jpg" alt="">
                </div>
                <div class="col-3 p-2 rounded m-4 d-inline-block shadow bg-danger">
                    <img class="w-100" src="assets\images\templates\tem-two.jpg" alt="">
                </div>
                <div class="col-3 p-2 rounded m-4 d-inline-block shadow bg-danger">
                    <img class="w-100" src="assets\images\templates\tem-two.jpg" alt="">
                </div>
                <div class="col-3 p-2 rounded m-4 d-inline-block shadow bg-danger">
                    <img class="w-100" src="assets\images\templates\tem-two.jpg" alt="">
                </div>
                <div class="col-3 p-2 rounded m-4 d-inline-block shadow bg-danger">
                    <img class="w-100" src="assets\images\templates\tem-two.jpg" alt="">
                </div>
                <div class="col-3 p-2 rounded m-4 d-inline-block shadow bg-danger">
                    <img class="w-100" src="assets\images\templates\tem-two.jpg" alt="">
                </div>
                <div class="col-3 p-2 rounded m-4 d-inline-block shadow bg-danger">
                    <img class="w-100" src="assets\images\templates\tem-two.jpg" alt="">
                </div>
                <div class="col-3 p-2 rounded m-4 d-inline-block shadow bg-danger">
                    <img class="w-100" src="assets\images\templates\tem-two.jpg" alt="">
                </div>
                <div class="col-3 p-2 rounded m-4 d-inline-block shadow bg-danger">
                    <img class="w-100" src="assets\images\templates\tem-two.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>





<%- include("portals/footer.ejs") %>
