<%- include("portals/header.ejs") %>
<%- include("portals/manu.ejs") %>



<div class="my-5 py-5">
    <div class="my-5">
        <h1 class="text-center text-light">My website for you</h1>
        <div class="text-center">
            <div class="col-3 m-4 d-inline-block text-center shadow p-4">
                <img class="w-100" src="assets\images\templates\tem-two.jpg" alt="No image found">
                <h4 class="text-light">Personal website</h4>
                <a class="text-decoration-none bg-danger p-1 px-4 w-100 d-inline-block rounded" href="#">See full website</a>
            </div>
        
            <div class="col-3 m-4 d-inline-block text-center shadow p-4">
                <img class="w-100" src="assets\images\templates\tem-two.jpg" alt="No image found">
                <h4 class="text-light">Personal website</h4>
                <a class="text-decoration-none bg-danger p-1 px-4 w-100 d-inline-block rounded" href="#">See full website</a>
            </div>
            <div class="col-3 m-4 d-inline-block text-center shadow p-4">
                <img class="w-100" src="assets\images\templates\tem-two.jpg" alt="No image found">
                <h4 class="text-light">Personal website</h4>
                <a class="text-decoration-none bg-danger p-1 px-4 w-100 d-inline-block rounded" href="#">See full website</a>
            </div>
            <div class="col-3 m-4 d-inline-block text-center shadow p-4">
                <img class="w-100" src="assets\images\templates\tem-four.jpg" alt="No image found">
                <h4 class="text-light">Personal website</h4>
                <a class="text-decoration-none bg-danger p-1 px-4 w-100 d-inline-block rounded" href="#">See full website</a>
            </div>
            <div class="col-3 m-4 d-inline-block text-center shadow p-4">
                <img class="w-100" src="assets\images\templates\tem-three.jpg" alt="No image found">
                <h4 class="text-light">Personal website</h4>
                <a class="text-decoration-none bg-danger p-1 px-4 w-100 d-inline-block rounded" href="#">See full website</a>
            </div>
        
            <div class="col-3 m-4 d-inline-block text-center shadow p-4">
                <img class="w-100" src="assets\images\templates\tem-three.jpg" alt="No image found">
                <h4 class="text-light">Personal website</h4>
                <a class="text-decoration-none bg-danger p-1 px-4 w-100 d-inline-block rounded" href="#">See full website</a>
            </div>
            <div class="col-3 m-4 d-inline-block text-center shadow p-4">
                <img class="w-100" src="assets\images\templates\tem-two.jpg" alt="No image found">
                <h4 class="text-light">Personal website</h4>
                <a class="text-decoration-none bg-danger p-1 px-4 w-100 d-inline-block rounded" href="#">See full website</a>
            </div>
        
            <div class="col-3 m-4 d-inline-block text-center shadow p-4">
                <img class="w-100" src="assets\images\templates\tem-two.jpg" alt="No image found">
                <h4 class="text-light">Personal website</h4>
                <a class="text-decoration-none bg-danger p-1 px-4 w-100 d-inline-block rounded" href="#">See full website</a>
            </div>
            <div class="col-3 m-4 d-inline-block text-center shadow p-4">
                <img class="w-100" src="assets\images\templates\tem-two.jpg" alt="No image found">
                <h4 class="text-light">Personal website</h4>
                <a class="text-decoration-none bg-danger p-1 px-4 w-100 d-inline-block rounded" href="#">See full website</a>
            </div>
            <div class="col-3 m-4 d-inline-block text-center shadow p-4">
                <img class="w-100" src="assets\images\templates\tem-four.jpg" alt="No image found">
                <h4 class="text-light">Personal website</h4>
                <a class="text-decoration-none bg-danger p-1 px-4 w-100 d-inline-block rounded" href="#">See full website</a>
            </div>
            <div class="col-3 m-4 d-inline-block text-center shadow p-4">
                <img class="w-100" src="assets\images\templates\tem-three.jpg" alt="No image found">
                <h4 class="text-light">Personal website</h4>
                <a class="text-decoration-none bg-danger p-1 px-4 w-100 d-inline-block rounded" href="#">See full website</a>
            </div>
        
            <div class="col-3 m-4 d-inline-block text-center shadow p-4">
                <img class="w-100" src="assets\images\templates\tem-three.jpg" alt="No image found">
                <h4 class="text-light">Personal website</h4>
                <a class="text-decoration-none bg-danger p-1 px-4 w-100 d-inline-block rounded" href="#">See full website</a>
            </div>
            <div class="col-3 m-4 d-inline-block text-center shadow p-4">
                <img class="w-100" src="assets\images\templates\tem-two.jpg" alt="No image found">
                <h4 class="text-light">Personal website</h4>
                <a class="text-decoration-none bg-danger p-1 px-4 w-100 d-inline-block rounded" href="#">See full website</a>
            </div>
        
            <div class="col-3 m-4 d-inline-block text-center shadow p-4">
                <img class="w-100" src="assets\images\templates\tem-two.jpg" alt="No image found">
                <h4 class="text-light">Personal website</h4>
                <a class="text-decoration-none bg-danger p-1 px-4 w-100 d-inline-block rounded" href="#">See full website</a>
            </div>
            <div class="col-3 m-4 d-inline-block text-center shadow p-4">
                <img class="w-100" src="assets\images\templates\tem-two.jpg" alt="No image found">
                <h4 class="text-light">Personal website</h4>
                <a class="text-decoration-none bg-danger p-1 px-4 w-100 d-inline-block rounded" href="#">See full website</a>
            </div>
            <div class="col-3 m-4 d-inline-block text-center shadow p-4">
                <img class="w-100" src="assets\images\templates\tem-four.jpg" alt="No image found">
                <h4 class="text-light">Personal website</h4>
                <a class="text-decoration-none bg-danger p-1 px-4 w-100 d-inline-block rounded" href="#">See full website</a>
            </div>
            <div class="col-3 m-4 d-inline-block text-center shadow p-4">
                <img class="w-100" src="assets\images\templates\tem-three.jpg" alt="No image found">
                <h4 class="text-light">Personal website</h4>
                <a class="text-decoration-none bg-danger p-1 px-4 w-100 d-inline-block rounded" href="#">See full website</a>
            </div>
        
            <div class="col-3 m-4 d-inline-block text-center shadow p-4">
                <img class="w-100" src="assets\images\templates\tem-three.jpg" alt="No image found">
                <h4 class="text-light">Personal website</h4>
                <a class="text-decoration-none bg-danger p-1 px-4 w-100 d-inline-block rounded" href="#">See full website</a>
            </div>
        </div>
    </div>
</div>




<%- include("portals/footer.ejs") %>
