<%- include("header.ejs") %>

<footer>
    <div class="shadow">
        <div class="d-flex justify-content-center">
            <img style="height: 50px; cursor: pointer; width: 50px;" class="bg-info shadow p-2 m-4 rounded-circle" src="assets\icon\bootstrap-icons-1.9.1\facebook.svg" alt="No icon">
            <img style="height: 50px; cursor: pointer; width: 50px;" class="bg-info shadow p-2 m-4 rounded-circle" src="assets\icon\bootstrap-icons-1.9.1\twitter.svg" alt="No icon">
            <img style="height: 50px; cursor: pointer; width: 50px;" class="bg-info shadow p-2 m-4 rounded-circle" src="assets\icon\bootstrap-icons-1.9.1\youtube.svg" alt="No icon">
            <img style="height: 50px; cursor: pointer; width: 50px;" class="bg-info shadow p-2 m-4 rounded-circle" src="assets\icon\bootstrap-icons-1.9.1\whatsapp.svg" alt="No icon">
            <img style="height: 50px; cursor: pointer; width: 50px;" class="bg-info shadow p-2 m-4 rounded-circle" src="assets\icon\bootstrap-icons-1.9.1\linkedin.svg" alt="No icon">
        </div>
    </div>
</footer>