<%- include("header.ejs") %>

<menu class="sticky-top bg-dark shadow">
    <div>
        <a href="/">
            <div class="col-3 rounded-circle text-center py-3 shadow px-4 bg-danger d-inline-block">
                <span class="fs-3 text-light text-bolder">MD Naiem Hosen</span>
            </div>
        </a>
        <div class="col-7 d-inline-block text-center">
            <ul class="nav">
                <li class="nav-item"><a class="nav-link text-info" href="/porfolio">Portfolio</a></li>
                <li class="nav-item"><a class="nav-link text-info" href="/templetes">Web templetes</a></li>
                <li class="nav-item"><a class="nav-link text-info" href="#">Client reviews</a></li>
                <li class="nav-item"><a class="nav-link text-info" href="/photos">Photo gelery</a></li>
                <li class="nav-item"><a class="nav-link text-info" href="/contract">Contract me</a></li>
                <li class="nav-item"><a class="nav-link text-info" href="/about">About me</a></li>
            </ul>
        </div>
    </div>
</menu>